@main("Zentastyc") {
<div id="wrap">
<div ng-controller="ZentastycCtrl">
    <div>
        <h2>Restaurants</h2> 
        <ul class="group">
            <li ng-repeat="group in groups">
                <h4>{{group.name}}</h4>
                <ul>
                    <li ng-repeat="user in group.users">
                        {{user.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button id="newgroup" class="btn btn-primary" type="button">Eat elsewhere</button>
</div>
</div>
}
