@()(implicit req: play.api.mvc.RequestHeader)

@main("Zentastyc") {
<div id="wrap">
<div ng-controller="ZentastycCtrl">
    <div>
        <h2>Restaurants</h2>

        <ul class="restaurants">
            <li ng-repeat="restaurant in restaurants">
                <h4 ng-click="joinRestaurant(restaurant.name)">{{restaurant.name}}</h4>
                <ul>
                    <li ng-repeat="user in restaurant.users">
                        {{user.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button id="newrestaurant" class="btn btn-primary" type="button">Eat elsewhere</button>
</div>
</div>
}
